# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.env/
synapses/
.vscode
build/
develop-eggs/
start.sh
dist/
lib/
bin/
downloads/
include/
eggs/
synapses/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.vscode/
src/config.json
*.egg-info/
.installed.cfg
*.egg
*.dat
*.hdf5
*.pkl
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log


# Sphinx documentation
docs/_build/

# PyBuilder
target/
