opencv-python==3.4.5.20
numpy==1.16.0
matplotlib
Pillow
keras_applications
keras_preprocessing
scipy
flask
flask-jsonpify
flask-restful
gunicorn
torch
requests
tqdm
torchvision
pyyaml
pandas
seaborn
thop